.container{
    width:100%;
    height:100vh;
    background-color:rgb(0, 174, 255);
}
.weather{
    width:380px;
    padding: 30px;
    border-radius:10px;
    margin:50px auto;
    color:white;
    text-align:center;
    background :linear-gradient(130deg,rgb(105, 165, 239),rgb(21, 0, 255));
    
}
.search{
    border-radius:5px;
    display:flex;
    align-items:center;
    
    justify-content: space-between;

}
.search button img{
    width:10px;
    border-style: inherit;
    
}
.winfo .icon{
    margin-top:20px;
    width:170px;

}

.winfo h1{
    font-size:70px;
    font-weight:500;
    margin-top:5px;

}
.winfo h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -40px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 20px;
    margin-top: 50px;
}
.details .col{
    display:flex;
    align-items:center;
    text-align:left;
}
.details .col img{
    width:45px;
    margin-right:10px;

}
.humidity,.wind{
    font-size:27px;
}
.humidity p,.wind p{
    margin:0px;

}
.error{
    color:rgb(255, 24, 24);
    text-align: left;
    margin-left:10px;
}